#american-questions {
  display: flex;
  z-index: 1;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  direction: rtl;
}

.row-ques {
  display: flex;
  margin: 5% 0% 5% 0%;
  justify-content: center;
}

.title-questionMultiple {
  font-size: 2.2rem;
  width: 40rem;
  color: #EE2644;
}

.done-ques-btn {
  position: absolute;
  width: 5rem;
  left: -1rem;
  bottom: -2rem;
  cursor: pointer;
}

.pulse-button-hover {
   background-color: #EE2644;
  margin: auto;
  cursor: pointer;
  border: none;
  width: 10rem;
  height: 6.5rem;
  font-size: 1.4rem;
  color: #ffffff;
  border-radius: 2rem; 

   
}

.pulse-button-hover:hover {
  animation: borderPulse 4000ms infinite ease-out, hoverShine 200ms;
}

.in-last-ques {
  width: 13.3rem;
  height: 8.9rem;
}

@keyframes borderPulse {
  0% {
    box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 0.4),
      0px 0px 0px 0px rgba(255, 255, 255, 1);
  }

  100% {
    box-shadow: inset 0px 0px 0px 3px rgba(24, 24, 176, 0.2),
      0px 0px 0px 10px rgba(255, 255, 255, 0);
  }
}

@keyframes hoverShine {
  0% {
    background-image: linear-gradient(135deg,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%);
  }

  50% {
    background-image: linear-gradient(135deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.4) 50%,
        rgba(255, 255, 255, 0) 100%);
  }

  100% {
    background-image: linear-gradient(135deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.4) 100%);
  }
}

.correct {
  background-color: green;
}

.wrong {
  background-color: rgb(121 0 0);
}

.div-mulQ {
  width: 40rem;
  background: #fff;
  border-radius: 3rem;
  box-shadow: 0 15px 20px -20px rgba(0, 0, 0, 0.4);
  position: relative;
  min-height: 15rem;
}


@keyframes hoverShine {
  0% {
    background-image: linear-gradient(135deg,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%);
  }

  50% {
    background-image: linear-gradient(135deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.4) 50%,
        rgba(255, 255, 255, 0) 100%);
  }

  100% {
    background-image: linear-gradient(135deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.4) 100%);
  }
}


.fix-explain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.explain-protocol {
  width: 30rem;
  margin-top: 1rem;
}

.explain-text {
  margin: 0.3rem;
}

@media screen and (max-width: 600px) {
  .div-mulQ {
    width: 100vw;
    border-radius: 0rem;
  }

  #american-questions {
    height: 92vh;
  }

  .done-ques-btn {
    position: absolute;
    width: 5rem;
    left: 1rem;
    bottom: -3rem;
  }

  .title-questionMultiple {
    width: 100%;
  }
}