.blood-equals-time {
    display: flex;
    direction: rtl;
    border-radius: 1rem;
    width: 45rem;
    height: 25rem;
    flex-direction: row-reverse;
    justify-content: center;
}

.graph-btn {
    background-color: white;
    padding: 1rem;
    margin: 0.9rem;
    border-radius: 1rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s;
}

.chosen {
    background-color: #EE2644;
    color: white;
}

.graph-btn-container {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    justify-content: space-around;
    /* width: 8rem; */
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.graph-container {
    background-color: white;
    width: 37rem;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.graph-img {
    width: 27rem;
    margin-right: 9rem;
    margin-top: 0rem;
}

.graph-header {
    font-weight: bold;
    position: absolute;
    right: 5rem;
    top: 0rem;
}

.graph-text {
    margin-top: 0.5rem;
    text-align: right;
    width: 95%;
    font-size: 1.2rem;
}


.maskana {
    width: 100%;
    border-radius: 1rem;
}

.hover-animation {
    display: inline-block;
    animation: float 2s ease-in-out infinite;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px); /* float up */
    }
    100% {
      transform: translateY(0px);   /* back to original */
    }
  }

  .instruction-one {
    margin: 0rem;
    font-size: 1.1rem;
    margin-top: -2rem;
  }

@media screen and (max-width: 600px) {
    .graph-btn {
        height: 2rem;
        width: 13rem;
        padding: 0.5rem;
    }

    .blood-equals-time {
        display: flex;
        width: 30rem;
        flex-direction: column;
        /* margin-top: 10rem; */
        overflow: scroll;
        /* height: 30rem; */
        height: 23rem;
    }

    .graph-container {
        width: auto;
        border-top-right-radius: 0rem;
        border-bottom-left-radius: 1rem;
    }

    .graph-img {
        margin-right: 0rem;
        margin-top: 4rem;
    }

    .graph-btn-container {
        flex-direction: row;
        width: auto;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 0rem;
    }
    
    .maskana {
        width: 30rem;
    }
}