.end-screen {
    direction: rtl;
}

.end-headline {
    font-size: 5rem;
    font-weight: bolder;
   color: #EE2644;
}

.to-exam-btn{
    cursor: pointer;
    width: 10rem;
}

.confety {
    position: absolute;
    width: 100vw;
    top: 0rem;
    left: 0rem;
    height: 100vh;
    z-index: 6;
    pointer-events: none;
  }

  .end-blood-bag {
    position: absolute;
    bottom: -11rem;
    width: 75rem;
    left: 0rem;
    margin: 2rem;
    pointer-events: none;
  }