.indications {
    display: flex;
    flex-direction: column;
    align-items: center;
    direction: rtl;
}

.bubble-indications {
    background-color: white;
    border-radius: 1rem;
    position: relative;
    min-height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 30rem;
    overflow: hidden;
}

.bold {
    font-weight: bold;
    font-size: 2rem;
    margin: 0rem;
    display: inline;
    margin-right: 0.5rem;
}

.title-indications {
    margin-bottom: 0rem;
    margin-top: 0rem;
    color: #534c4c;
}

.text-indication {
    margin: 0.3rem;
    width: 22rem;
}

.more-info-btn {
    background-color: #EE2644;
    position: absolute;
    top: -1.5rem;
    left: -1rem;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    cursor: pointer;
}

.red-hidden-bubble {
    background-color: #D81F2B;
    border-radius: 1rem;
    color: white;
    font-size: 1.2rem;
    width: 25rem;

}

.arrow-container {
position: relative;
width: 17rem;
margin-bottom: -0.5rem;
}

.arrow-text {
    position: absolute;
    top: 0rem;
    margin: 0rem;
    font-size: 1rem;
}

.mini-hidden-text-container {
    font-size: 1rem;
    text-align: right;
    margin-right: 1rem;
}

.more-info-bubble {
    height: 0rem;
    position: absolute;
    top: 18.5rem;
    width: 30rem;
    left: 50%;
    transform: translateX(-50%);
    animation: growUpDiv 0.3s linear forwards;
    bottom: 0;
    z-index: 2;
    background-color: white;
    padding-top: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes growUpDiv {
    0% {
        height: 0rem;
    }

    100% {
        height: 21rem;
    }
}

.question-mark {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 2rem;
    margin-left: 1rem;
}

.jump-animation {
    animation: jump 1s ease-in-out infinite;
}

@keyframes jump {
    0% {
        transform: translateY(0);
        /* Start at the original position */
    }

    25% {
        transform: translateY(-10px);
        /* Move up a bit */
    }

    50% {
        transform: translateY(0);
        /* Go back to the original position */
    }

    75% {
        transform: translateY(-5px);
        /* Slightly move up */
    }

    100% {
        transform: translateY(0);
        /* Return to original position */
    }
}

.line {
    width: 10rem;
    border: none;
    border-top: 0.2rem solid black;
    /* Adjust the thickness of the line */
    margin-bottom: 1rem;
}

.indications-arrow{
    transform: rotate(270deg);
    height: 3rem;
    margin-top: -1rem;
}

.protocol-btn{
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    width: 16rem;
    cursor: pointer;
}

.protocol-container-img {
    position: absolute;
    height: 40rem;
    top: 2rem;
    box-shadow: -4px 4px 0.7rem rgba(0, 0, 0, 0.1); /* x-offset y-offset blur color */
    z-index: 3;
}

.close-btn-protocol {
    position: absolute;
    top: -1rem;
    right: 1rem;
    cursor: pointer;
}

.protocol-img {
height: 100%;
border-radius: 1rem;
}