.info-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
}

.information-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header-text {
    font-weight: bold;
    font-size: 3rem;
    color: #2B2D42;
    width: 98%;
}

.btns-container {
    position: absolute;
    bottom: 2rem;
    display: flex;
    width: 18rem;
    align-items: center;
    justify-content: space-between;
    left: 50%;
transform: translateX(-50%);    
}

.moving-btn {
    width: 8rem;
    cursor: pointer;
}

.disable {
    filter: grayscale(100%);
  opacity: 0.6;
  pointer-events: none; /* optional: prevent clicking */
}
@media screen and (max-width: 830px) {

    .information-container {
        position: static;
        left: 0%;
        transform: translateX(0%);
    }

    .header-text {
        margin-top: 6rem;
    }
}

@media screen and (max-width: 600px) {

    .info-screen {
        height: 91vh;
    }

    .information-container {
        height: 90%;
        margin-top: 5rem;
    }

    .header-text {
        margin-top: 3rem;
    }

}