.intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-container {
    background-color: white;
    height: 30rem;
    width: 20rem;
    border-radius: 1.5rem;
    box-shadow: -4px 4px 0.7rem rgba(0, 0, 0, 0.1); /* x-offset y-offset blur color */
}

.header-intro {
    font-weight: bold;
    color: #EE2644;
    font-size: 3rem;
    margin-top: 0rem;
}

.btn {
    background-color: #EE2644;
    color: white;
    width: 6rem;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
    position: relative;
    bottom: 2rem;
    cursor: pointer;
}

.grow-rotate {
    display: inline-block;
    transition: transform 0.3s ease;
  }
  
  .grow-rotate:hover {
    transform: scale(1.1) rotate(4deg);
  }

/* the typewriter */

.type-writer > p {
    animation: typeWrite 1.5s var(--delay) steps(44) normal both,
      blink 400ms var(--delay) steps(45) 5;
  }
  
  .the-type-writer > p {
    display: block;
    width: fit-content;
    white-space: nowrap;
    text-align: right;
    overflow: hidden;
    border-left: solid 3px transparent;
    max-width: fit-content;
    margin-block: 2.5%;
  }
  
  .the-type-writer {
    position: relative;
    height: fit-content;
    flex-direction: column;
    display: flex;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    direction: rtl;
    margin-top: -3rem;
    margin-right: 2rem;
  }
  
  @keyframes typeWrite {
    from {
      width: 0%;
    }
  
    to {
      width: var(--width);
    }
  }
  
  @keyframes blink {
    to {
      border-left-color: black;
    }
  
    from {
      border-left-color: transparent;
    }
  }

  .sub-title {
    font-weight: bold;
    font-size: 1.5rem;
  }