.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2rem;
}

.space-from-bottom {
    margin-bottom: 2rem;
   
}

.drop {
    width: 15rem;
    /* height: auto; */
  filter: drop-shadow(-0.2rem 0.3rem 0.3rem rgba(0, 0, 0, 0.4));
}

.dish-btn {
    background-color: #EE2644;
    width: 10rem;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
    margin-top: 5rem;
    animation: jump 1.3s infinite;
}

@keyframes jump {
    0%   { transform: translateY(0); }
    20%  { transform: translateY(-15px); }
    40%  { transform: translateY(0); }
    60%  { transform: translateY(-7px); }
    80%  { transform: translateY(0); }
    100% { transform: translateY(0); }
}