.lessons {
    direction: rtl;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
ol {
    text-align: right;
}

.lessons-text {
    overflow-y: auto;   /* vertical scroll only */
    overflow-x: hidden; /* prevent horizontal scroll */
    padding: 1rem;
    border-radius: 1rem;
    /* background: #f9f9f9; */
    max-height: 25rem;
    font-size: 1.3rem;
    line-height: 1.6;
    color: #333;
    scroll-behavior: smooth;
  /*  */
    /* Firefox scrollbar */
    scrollbar-width: thin;
    scrollbar-color: #999 transparent;
    width: 31rem;
  }
  
  /* Chrome, Edge, Safari scrollbar */
  .lessons-text::-webkit-scrollbar {
    width: 8px; /* vertical scrollbar width */
    height: 8px; /* prevent horizontal scrollbar space */
  }
  .lessons-text::-webkit-scrollbar-track {
    background: transparent;
  }
  .lessons-text::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #f88c01, #ffaf02);
    border-radius: 10px;
  }
  .lessons-text::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #ffaf02, #8cd0ec);
  }
  
  .fix-the-margin {
    margin-top: -2rem;
}

.fix-lessons-margin {
  margin-bottom: 0rem;
}

@media screen and (max-width: 600px) {
  .lessons-text {
    width: 26rem;
  }
}